<footer>
  <section>
    <h1>Documentation</h1>
    <ul>
      <li><a href="/home-topic/plants">Biện pháp canh tác</a></li>
      <li><a href="/home-topic/fertilizers">Phân bón</a></li>
      <li><a href="/home-topic/chemical">Thuốc bảo vệ thực vật</a></li>
      <li><a href="/home-topic/pest">Sâu bệnh hại</a></li>
      <li><a href="#">Nông nghiệp công nghệ cao</a></li>
      <li><a href="#">Khác</a></li>
    </ul>
  </section>
  <section>
    <h1>Liên hệ</h1>
    <p>Nội dung của chúng tôi dựa trên kinh nghiệm canh tác của người nông dân, việc áp dụng cho canh tác của riêng bạn cần được cân nhắc hoặc tham khảo ý kiến của người có kinh nghiệm hoặc chuyên gia</p>
    <p>Có câu hỏi hoặc ý kiến, đừng ngại liên hệ với chúng tôi các các cách sau:</p>
    <ul>
      <li>Email: <em>tanturv@gmail.com</em></li>
      <li>Số điện thoại/ Zalo: <em>0983 xxx xxx</em></li>
      <li>Admin: <em>ajisai18195@gmail.com</em></li>
    </ul>
  </section>
  <section>
    <h1>Liên kết</h1>
    <ul>
      <li style="display: flex; flex-direction: row; align-items: center; gap: 15px;"><img style="width: 35px;" src="/img/logo-main-content/fb.svg" alt="">Facebook: </li>
      <li style="display: flex; flex-direction: row; align-items: center; gap: 15px;"><img style="width: 35px;" src="/img/logo-main-content/yt.svg" alt="">Youtube: </li>

    </ul>
  </section>
</footer>