<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemicals</title>
    
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/chemical.css">
    <link rel="stylesheet" href="/css/chemical-home.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <%- include('partials/header') %>
    <div id="breadcrumb"></div>
    <section class="zzzz">
        <%- include('partials/chemical-frac') %>
    </section>

    <%- include('partials/footer') %>
    <script type="module" src="/js/chemical-addEventForMenu.js"></script>  
    <script type="module" src="/js/breadcrumb.js"></script>
    <script type="module" src="/js/script.js"></script>
</body>
</html>