
.right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}



.zzz {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    /* margin: 20px; */
    line-height: 1.6;
    /* background-color: rgb(31, 105, 128); */
    /* padding: 3%; */
    width: 60%;

}
.zzz li {
    list-style-type: disc;
    padding: 0;
}
.zzz>section{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.zzz h2 {
    border-left: 10px solid #3b9994;
    padding-left: 10px;
    color: #56d3cd;
    text-align: left;
    font-size: 1.4rem;
    margin-top: 5%
}
.luuy{
    background-color: #6c9b5e; padding: 10px; border-radius: 5px; border-left: 8px solid greenyellow; list-style-type: none;
}
.add-more ul>li:hover{
    color: red;
}
.add-more span{
    background-color: rgb(51, 51, 51);
    margin-left: 1%;
    padding: 3px;
    font-size: 0.7em;
    color: white;
}

@media(max-width: 480px){
    .zzz{
        width: 90%;
        margin: 0;
    }
    .zzz h1{
        font-weight: 900;
    }
    .zzz section{
        padding: 10px;
    }
    .cc a{
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        padding: 10px 0;
    }
}