.product:hover{
    background-color: rgb(109, 71, 26);
}
.cty * {
    margin: 0px;
    padding: 5px;
}
.menu_product>li:hover{
    background-color: aquamarine;
}
.jko>div{
    width: 20%;
}
.product-content-inside{
    display: flex;
    flex-direction: column;
}
.product-content-inside>div{
    width: 100%;
}
@media(max-width: 480px){
    .jko div{
        width: 90%;
        padding: 0px 3px;
    }
    .product-content-inside{
        display: flex;
        flex-direction:  row;
        font-size: 0.6rem;
    }

    .product-list{
        width: 100%;
    }
    .product h2{
        display: none;
    }
}
